In [4]:
import pandas as pd
import numpy as np
from datetime import datetime

In [17]:
#combine csv files
data= ["JC-202301-citibike-tripdata.csv","JC-202305-citibike-tripdata.csv","JC-202309-citibike-tripdata.csv"]
df_list =[]
#loop through each file in the list
for file in data:
    citibike_df = pd.read_csv(file)
    #append dataframe to the list
    df_list.append(citibike_df)

In [20]:
#Concatenate all dataframes in the list into one dataframe
citybike_df = pd.concat(df_list)
citybike_df.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member

In [23]:
citybike_df.to_csv('citibike.csv', index=False)